@page
@model AboutModel
@{
    ViewData["Title"] = "Σχετικά";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    Ιστοσελίδα για κλείσιμο με ιατρούς στο Τ.Υ.Π.Ε.Τ. <br />
    Ο χρήστης δε χρειάζεται να παίρνει τηλέφωνο <br />
    Να περιμένει στην αναμονή για να κλείσει ραντεβού<br />
    Μπορεί να δει διαθέσιμες μέρες, ώρες για κάθε ειδικότητα!
</p>
