@page
@model ContactModel
@{
    ViewData["Title"] = "Επικοινωνία";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Βαλλιανών 5<br />
    Αθήνα<br />
    <abbr title="Τηλέφωνο">P:</abbr>
    +30 6988801077
</address>

<address>
    @*<strong>Email:</strong> <a href="mailto:georgdimopoulos@gmail.com">georgdimopoulos@gmail.com</a><br />*@
</address>
